.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--espaco-p);
  background: var(--fundo-superficie);
  font-family: var(--texto-m-family);
}

.pageEmbedded {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--espaco-p);
  background: var(--fundo-superficie);
  font-family: var(--texto-m-family);
}

.message {
  color: var(--texto-secundario);
  font-family: var(--texto-p-family);
  font-size: var(--texto-p-size);
}
